@page
@model IndexModel
@{
    ViewData["Title"] = "Trang Chủ";
}

<h1>DANH SÁCH SẢN PHẨM</h1>
<p><a asp-page="./Products/Create" class="btn btn-primary">Thêm sản phẩm</a></p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Số Lượng</th>
            <th>Mục Đích</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Product p in Model.Products)
        {
            <tr>
                <td>@p.Code</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td>@p.Quantity</td>
                <td>@p.Description</td>
            </tr>
        }
        
    </tbody>
    
</table>
