@page
@model IndexModel
@{
    ViewData["Title"] = "Trang Chủ";
}

<h1>DANH SÁCH SẢN PHẨM</h1>
<div class="row mb-3">
    <div class="col-md-6">
        <form method="get">
            <input type="text" name="SearchString" value="@Model.SearchString" class="form-control mb-3 me-2" placeholder="nhập tên sản phẩm..."/>
            <button type="submit" class="btn btn-outline-primary"> Tìm kiếm</button>
            <a asp-page="./Index" class="btn btn-outline-secondary ms-2">Xóa lọc</a>
        </form>
    </div>
    <div class="col-md-6 text-end" >
        <a asp-page="./Products/Create" class="btn btn-primary">Thêm sản phẩm</a>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Số Lượng</th>
            <th>Mục Đích</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Product p in Model.Products)
        {
            <tr>
                <td>@p.Code</td>
                <td>@p.Name</td>
                <td>@p.Price.ToString("N0")</td>
                <td>@p.Quantity</td>
                <td>@p.Description</td>
                <td>
                    <a asp-page="./Products/Edit" asp-route-id="@p.Id" class="btn btn-warning">Sửa</a>
                    <a asp-page="./Products/Delete" asp-route-id="@p.Id" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
        
    </tbody>
    
</table>
